@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 30 8% 5%;

    --card: 0 8% 97%;
    --card-foreground: 30 8% 5%;

    --popover: 0 8% 97%;
    --popover-foreground: 30 8% 5%;

    --primary: 38 93% 21%;
    --primary-foreground: 0 0% 98%;

    --secondary: 60 6% 93%;
    --secondary-foreground: 30 8% 5%;

    --muted: 30 6% 93%;
    --muted-foreground: 39 6% 45%;

    --accent: 60 6% 93%;
    --accent-foreground: 30 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 6% 90%;
    --input: 40 7% 82%;
    --ring: 37 24% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 60 3% 6%;
    --foreground: 0 0% 98%;

    --card: 60 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 60 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 38 100% 40%;
    --primary-foreground: 0 0% 2%;

    --secondary: 30 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 40 5% 22%;
    --muted-foreground: 40 5% 49%;

    --accent: 38 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 45 4% 18%;
    --ring: 38 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
